*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: url(../img/ginosaborgodelfuturo.jpg);
    background-size: cover;
    color: white;


}
#parola{
    width: 300px;
}
#submit{
    margin-top: 20px;
    padding: 10px 20px;
}

p{
    margin: 15px;
}

h2{
    margin-top: 20px;
}

h3{color: red;}